


body{
    padding:0;
    margin:10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: skyblue;
}

h1{
    margin: auto;
    
}

#title{
    font-style: italic;
    font-size: 50px;
}

#grid{
    width: 980px;
    height: 980px;
    border: 10px solid black;
    display: grid;
    grid-template-columns: repeat(var(--x), auto);
    grid-template-rows: repeat(var(--x), auto);
    align-self: center;
}


.input{
    font-size: 25px;
    align-self: center;
}

button{
    border-radius: 12px;
    font-size: 25px;
}

#sides{
    width: 3em;
    height: 2em;
}

.cells{
    background-color: white;
    border: 0.5px solid black;
    border-width: 1px;
    display: inline-block;
}

