


body{
    padding:0;
    margin:10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: skyblue;
}


.main{
    display: flex;
    flex-wrap: wrap;
}

#title{
    font-style: italic;
    font-size: 100px;
    padding-bottom: 30px;
    margin: auto;
}

#grid{
    width: 980px;
    height: 980px;
    border: 10px solid black;
    display: grid;
    grid-template-columns: repeat(var(--x), auto);
    grid-template-rows: repeat(var(--x), auto);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}




h2{
    font-size: 50px;

}
.input{
    font-size: 25px;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;
}

button{
    border-radius: 12px;
    font-size: 35px;
    margin: 5px;
    padding-top: 10px;
    padding-bottom:10px
}

#sides{
    width: 3em;
    height: 2em;
}

.cells{
    background-color: white;
    border: 0.5px solid black;
    border-width: 1px;
    display: inline-block;
}

