body{
    padding:0;
    margin:10px;
}

#grid{
    width: 960px;
    height: 960px;
    border-color: black;
}

.cells{
    background-color: grey;
    border-color: red;
    border-width: 10px;
    width: 100px;
    height: 100px;
}

